# Kalodata project folders (output/scraped data)
KALODATA/Top_Categories/
KALODATA/Top_Creators/
KALODATA/Top_Lives/
KALODATA/Top_Products/
KALODATA/Top_Shops/
KALODATA/Top_Shops1/
KALODATA/Top_Videos/
KALODATA/Top_Videos1/

